[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gepaf"]
	path = gepaf
	url = https://github.com/mthh/gepaf
	shallow = true
	registered = true
